body, td, input, select, p, textarea {
	
	font-family : "Times New Roman", Times, serif; 
	font-size: 12px;
}

A:VISITED, A:ACTIVE, A:HOVER, A:FOCUS, A:LINK  {
	color : Black;
}


.bottomlinks {
	font-size: 11px;
}

.tiptext {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
}
