

td, body, p, ul {
	color: #ffffff;
	font-size: 10px;	
	font-family: verdana, Arial, Helvetica, Sans-Serif;
	}	

a:link { 
	font-decoration: bold;
	color: #ffffff;
	}
	
a:visited {
	font-decoration: bold;
	color: #cccccc;
	}
	
a:active {
	font-decoration: bold;
	color: #ffffff;
	}

.space {
	color: #ffffff;
	font-size: 10px;	
	font-family: verdana, Arial, Helvetica, Sans-Serif;
	line-height: 16px;}	
	
