




/*
     FILE ARCHIVED ON 14:54:41 Feb 5, 2002 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 5:13:12 Feb 7, 2013.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
td, body, p, ul {
	color: #ffffff;
	font-size: 10px;	
	font-family: verdana, Arial, Helvetica, Sans-Serif;
	}	

a:link { 
	font-decoration: bold;
	color: #ffffff;
	}
	
a:visited {
	font-decoration: bold;
	color: #cccccc;
	}
	
a:active {
	font-decoration: bold;
	color: #ffffff;
	}

.ken {
	color: #ffffff;
	font-size: 10px;	
	font-family: verdana, Arial, Helvetica, Sans-Serif;
	}	
