p {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color: #ffffff;
}

.default {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color: #ffffff;
}

p.retailerList {
	font-style: italic;
}

a {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color: #fffc00;
	font-weight : bold;
	text-decoration : none;
}

a:hover {
	text-decoration : underline;
}

a:visited {
	color: #fffc00;
}

a.subtleLink {
	color: #ffffff;
}

a.subtleLink:visited {
	color: #ffffff;
}

input.loginField {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
}

div.splashText {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color: #ffffff;
	margin: 0px 0px 10px 10px;
}

div.disclaimer {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color: #ffffff;
	margin: 10px 10px 0px 0px;
}

.splashText a {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color: #fffc00;
	font-weight : bold;
	text-decoration : none;
}

.splashText a:hover {
	text-decoration : underline;
}

.splashText a:visited {
	color: #fffc00;
}

form {
	margin: 0px;
}

.blueBorder {
	border : 1px solid #1852A7;
}

div.copyright {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color: #91BE91;
	margin-right: 35px;
}

.copyright a {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-weight : normal;
	color: #91BE91;
	text-decoration : none;
}

.copyright a:hover {
	text-decoration : underline;
}

.copyright a:visited {
	color: #91BE91;
}

div.onlyfor {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color: #ffffff;
	text-align: center;
	margin: 0px 0px 2px 0px;
}

a .galleryThumb {
	color: #00549F;
	border-color:#00549F; 
}

a:visited .galleryThumb {
	color: #00549F;
	border-color:#00549F; 
}


a:hover .galleryThumb {
	color: #FFFFFF;
	border-color:#FFFFFF; 
}

a:active .galleryThumb {
	color: #FFFFFF;
	border-color:#FFFFFF; 
}

div.galleryMargin {
	margin: 5px 5px 5px 5px;
}

div.copyrightGallery {
	margin-top: 6px;
}

.copyrightGallery a {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-weight : normal;
	color: #6699CC;
	text-decoration : none;
}

.copyrightGallery a:hover {
	text-decoration : underline;
}

.copyrightGallery a:visited {
	color: #6699CC;
}

.scrCaption {
	visibility: hidden;
	display: none;
}

.scrCaptionDefault {
	visibility: visible;
	display: block;
}
