body {
	background-color : #2059A3;
}

body.sailing {
	background-color : #2059A3;
	margin: 0px;
}

h1 {
	font : bold 20px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #ffffff;
}

p {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color: #ffffff;
}

.emphasize {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight : bold;
}

.default {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color: #ffffff;
}

a {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color: #ffffff;
	text-decoration : none;
}

a:hover {
	text-decoration : underline;
}

a:visited {
	color: #ffffff;
}

.nav {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight : normal;
	font-size : 10px;
	color: #6AB6EA;
}

.nav a {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight : normal;
	font-size : 10px;
	color: #6AB6EA;
	text-decoration : none;
}

.nav a:hover {
	text-decoration : underline;
}

.nav a:visited {
	color: #6AB6EA;
}


div.onlyfor {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color: #ffffff;
	text-align: center;
	margin: 0px 0px 2px 0px;
}

.copyright {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight : normal;
	font-size : 10px;
	color: #569ACE;
}

.copyright a {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight : normal;
	font-size : 10px;
	color: #569ACE;
	text-decoration : none;
}

.copyright a:hover {
	text-decoration : underline;
}

.copyright a:visited {
	color: #569ACE;
}

div.noflashbox {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color: #7ECBFF;
	margin: 5px;
	line-height : 20px;
}

.noflashbox a {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color: #ffffff;
	text-decoration : none;
}

.noflashbox a:hover {
	text-decoration : underline;
}

.noflashbox a:visited {
	color: #ffffff;
}


#blender {
width:336;
height:69;
clip:rect(0 336 69 0);
-moz-opacity:1.0;
}

.btlNav {
	color: #0C3A8C;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
}

.btlNav a {
	color: #DDF400;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight: bold;
	text-decoration: none;
}

.btlNav a:visited {
	color: #DDF400;
}

.btlNav a:hover {
	color: #DDF400;
	text-decoration: underline;
}

.textcontent {
	color: #D4EEFF;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
}

.textcontent p {
	color: #D4EEFF;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
}

body.popup {
	background-color: #D9EAFF;
	margin: 10px;
}

body.instructions {
	background-color: #2059A3;
	margin: 10px;
}

p.footnote {
	color: #80B0CF;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
}

input.small {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
}

.label {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight : bold;
	font-size : 10px;
	color: #ffffff;
}

div.dlMargin {
	margin-top: 13px;
	margin-left: 13px;
	margin-right: 13px;
	margin-bottom: 0px;
}

div.dlMarginRight {
	margin-right: 15px;
}

.dlText {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color : #0C3A8C;
}

.dlLabel {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight : bold;
	font-size : 10px;
	color : #255FAD;
}

.dlLink {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight : bold;
	font-size : 10px;
	color : #3C9B45;
}

.dlLink a {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight : bold;
	font-size : 10px;
	color : #006900;
	text-decoration : none;
}

.dlLink a:visited {
	color : #006900;
}

.dlLink a:active {
	color : #006900;
}

.dlLink a:hover {
	color : #006900;
	text-decoration : underline;
}

ol.dl {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color : #0C3A8C;
}

.dl li {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : #0C3A8C;
}

ol.dloptions {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight : bold;
	font-size : 10px;
	color : #006900;
	line-height : 15px;
	margin-top: 10px;
	margin-bottom: 0px;
}

.dloptions li {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight : bold;
	font-size : 10px;
	color : #006900;
	line-height : 15px;
}

.qtLink a {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight : bold;
	font-size : 10px;
	color : #0C3A8C;
	text-decoration : none;
}

.qtLink a:visited {
	color : #0C3A8C;
}

.qtLink a:active {
	color : #0C3A8C;
}

.qtLink a:hover {
	color : #0C3A8C;
	text-decoration : underline;
}

img.btlImage {
	color : #333333;
	border-color:#333333;
}

a.terms {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color: #ffffff;
	text-decoration : underline;
}

a.terms:visited {
	color: #ffffff;
}
